
//                  Global Styles
// ===============================
/* TOC
    
    00. Variables
    01. Global
    02. Header
    03. Footer

*///==============================

//===========
// 00. config
//===========

// Site Width Variables
siteWidth = 900px

body
    background transparent
    
.wrap
    max-width siteWidth
    margin 0 auto
    
